{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">

<div class="center-container container">
<div class="logo-row"><img src="{% static 'whrs_logo_1.png' %}"></div>
<div class="login-form">
    <p class="title">Membership Site Login</p>
    {% if form.errors %}
    <p class="error-normal">The credential entered is not correct. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label">Email</label>
            {{ form.email|addplaceholder:'youremail@email.com'}}
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        {{ form.password|addplaceholder:'SuperSecretPassword' }}
    </div>

    {# Assumes you set up the password_reset view in your URLconf #}
    {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

    <button type="submit" class="btn btn-dark">Log in</button>
    </form>
</div>
</div>

{% endblock %}