@font-face {
    font-family: "Bitter";
    src: url("fonts/Bitter-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Bitter";
    src: url("fonts/Bitter-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

* {font-family : "Bitter";}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
}

.error-normal {
    color: Tomato;
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin: 1px;
}
